body{ 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
    background-color:  black;
    border: solid 1px rgb(144, 49,47); 
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
}

h1,p {
    margin-left: auto;
    margin-right: auto;
   
}

h1{
    color: white;
    background-color: red;
    text-align: center;

   
}


#texte {
    text-align: center;
   
}


img.img_centre {
    width:400px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

#link_centre{
    margin-left: auto;
    margin-right: auto;

}
#navigation {
    background-color:red ;
    padding-top: 1px;
    padding-bottom:1px;

}
 
#navigation ul{
    /* border:solid 1px blue; */
    width: fit-content;
    padding-left: 0px;
    margin-left: auto;
    margin-right: auto;
}
#navigation li {
    display:inline;
    /* border:solid 1px red; */
    margin-left: 5px;
    margin-right: 5px;

}

a{
    color:white;
    margin-left: auto;
    margin-right: auto;
}

p{
    margin-left: auto;
    margin-right: auto;
}



