body{ 
background-image: url("/2_web/site_web/images/ski.jpeg");
font-family:'Times New Roman', Times, serif;
color:azure
}

h1{
    color: red;
    background-color: rgb(144, 49,47);
    border-radius: 18px;
    padding: 5px 5px 5px 5px;
    
    font-display: swap;
}

h2,h3{
    color: red;

}
.Important{
    border: rgb(144, 49,47);
    margin:0px;
    
}


.guerrier{
    background-color: red;
}
.magicien{
    background-color: blue;

}
.voleur{
    background-color: gray;

}
.farfadet{
    background-color: greenyellow;
    color: black;

}