body{ 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    background-color:  black;
    margin-left: auto;
    margin-right: auto;

}

h1{
    color: white;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
}

h2{
    color:red;
}

#valais{

    color:white;
    background-color: red;
    border-radius: 18;
}

#vaud{

    color:white;
    background-color: rgb(76,160,85);
    border-radius: 18;

}

body{
    border: solid 1px rgb(144, 49,47); 
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
}

#navigation {
    background-color:red ;
    padding-top: 1px;
    padding-bottom:1px;

}
 
#navigation ul{
    /* border:solid 1px blue; */
    width: fit-content;
    padding-left: 0px;
    margin-left: auto;
    margin-right: auto;
}
#navigation li {
    display:inline;
    /* border:solid 1px red; */
    margin-left: 5px;
    margin-right: 5px;

}

a{
    color:white;
    margin-left: auto;
    margin-right: auto;
}